<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cartSQL">
	<insert id="cartAdd" parameterType="java.util.Map">
		insert into cart values(#{user_id}, #{user_id}, #{item_id}, #{item_qty}, #{item_all_price})
	</insert>
	
	<select id="cartAllList" parameterType="String" resultType="cart">
		select cart_id, user_id, item_name, item_qty, item_all_price from cart 
		join item using(item_id) where cart_id=#{memberId}
	</select>
</mapper>