<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="sellerSQL">
	<insert id="write" parameterType="sellerDTO">   
		insert into seller values(#{seller_id}
		,#{seller_name}
		,#{seller_pwd}
		,#{seller_email}
		,#{seller_phone} 
		,#{seller_license}
		,#{seller_address1} 
		,#{seller_address2} 
		,sysdate,0)  
	</insert> 	  
	 	 
</mapper>            